# Ignore Python virtual environment
.venv/

# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints, if any
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore test data files if needed
# data/
